:root {
--navy: #383f51ff;
--lavender: #dddbf1ff;
--orange: #fe4e00ff;
--blue: #3c4f76ff;
--yellow: #ffae03ff;
--mustard: #e67f0dff;
}


/*
Customize profile image.
*/
img {
    border-radius: 50%;
    height: 250px;
    margin: 20px;
}

/* customize my name */
h1{
    color:var(--orange);
    font-family: 'Avantgarde';
    font-size: 40px;

}

/*
Customize header.
*/
header {
    height: 150px;
    width: 100%;
    /* border-bottom: orange; */
    background-color: var(--orange);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
/*
Customize section titles
*/
h2 {
    font-style: italic;
    color:orchid;
    font-size: 30px;
    text-align: left;
}

/*
Customize text on the entire page with p tag.
*/
#description{

    padding: 30px;
    font-family: 'Gill Sans';
    color:blue;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    width: 80%;
    background-color: var(--yellow)
}

section{
    justify-content: right;
    display:flex;
    background-color: var(--mustard);
}





#description{
display:inline-block;
} 



/*
Cuztomize header at the top of the page.
*/

/*
Get contact links to jump page when clicked on and connect to web source.
*/
li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    position: right;
    font-style: oblique;
    
    
}
/*
Customize portfolio images. Push images to right side of the page.
*/
.portfolio-box {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    text-align: right;
    padding: 50px;
    margin: 5px;
    font-size: 20px;

}
 
/*
Customize boxes in portfolio.
*/
.big {
    height: 350px;
    width: 450px;
}

.box1{
    height: 200px;
    width: 210px;
}

.box2{
    height: 200px;
    width: 210px;
}

.box3{
    height: 200px;
    width: 210px;
}

.box4{
    height: 200px;
    width: 210px;
}

/*
Customize footer.
*/
.contacts p {
    padding: 50px 50px;
     
}

/*
Customize footer.
*/
footer {
    text-align: center;
    padding: 20px;
    margin: 15px;
    font-size: 20px;
    background-color: DarkSalmon;
    
  }
